[Unit]
Description=IMAP Notifier Bot

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/imap-notifier/venv/bin/python imap_notifier_matrix.py 
User=imap-notifier
WorkingDirectory=/home/imap-notifier
Restart=always
KillSignal=SIGKILL
